body{
  background-color:lavender;
  font-family:  sans-serif;
}


header, footer{
   background-color: #000;
   color:#049993;
   padding: 12px;


  padding-left: 5px;
}

 nav ul li{
   display: inline;
   list-style-type: none;
 }

ul{
  padding-left: 2px;
}

a{
  color: #000;
}

main{
  background-color: #049993;
  padding: 12px;
}

section{
  background-color: #C4C5C6;
  padding:12px;
}

#section{
  margin-bottom: 6px;
}

/*header h1{
  margin-top: auto;
  margin-bottom: auto;
  display: inline-block;
}
